src/main/resources/wsdl/Cochews.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://com.ipartek.formacion/types" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.ipartek.formacion/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema version="1.0" targetNamespace="http://com.ipartek.formacion/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="getAll" type="tns:getAll"/>

      <xs:element name="getAllResponse" type="tns:getAllResponse"/>

      <xs:element name="obtenercoche" type="tns:obtenercoche"/>

      <xs:element name="obtenercocheResponse" type="tns:obtenercocheResponse"/>

      <xs:complexType name="obtenercoche">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenercocheResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:coche" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="coche">
        <xs:sequence>
          <xs:element name="codigo" type="xs:int"/>
          <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAll">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getAllResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:cocheColeccion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cocheColeccion">
        <xs:sequence>
          <xs:element name="coches" type="tns:coche" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="obtenercoche">
    <part name="parameters" element="tns:obtenercoche"/>
  </message>
  <message name="obtenercocheResponse">
    <part name="parameters" element="tns:obtenercocheResponse"/>
  </message>
  <portType name="cochews">
    <operation name="getAll">
      <input ns1:Action="http://com.ipartek.formacion/types/cochews/getAllRequest" message="tns:getAll" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://com.ipartek.formacion/types/cochews/getAllResponse" message="tns:getAllResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="obtenercoche">
      <input ns3:Action="http://com.ipartek.formacion/types/cochews/obtenercocheRequest" message="tns:obtenercoche" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://com.ipartek.formacion/types/cochews/obtenercocheResponse" message="tns:obtenercocheResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

